*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-url: url(../img/BackgroundDark.png)
}


body{
    background: var(--bg-url) no-repeat
    top center / cover;
    height: 100vh;
}
